PORT=8080
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/pae_quiz?retryWrites=true&w=majority
REDIS_URL=https://<upstash-endpoint>.upstash.io
REDIS_TOKEN=your-upstash-token
JWT_SECRET=your-secret-key-change-in-production
FIREBASE_BUCKET=pae-quiz-images
GOOGLE_APPLICATION_CREDENTIALS=./credentials.json
HiveMQBrokerURL=your-hivemq-broker-url
HiveMQUsername= your-hivemq-username
HiveMQPassword= your-hivemq-password
FRONTEND_URL=http://localhost:3000
GEMINI_API_KEY=your-google-gemini-api-key
RazorpayKeyID=your-razorpay-key-id
RazorpayKeySecret= your-razorpay-key-secret